<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcy.autogenerator.mapper.ArticleCategoryRcmdMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lcy.autogenerator.entity.ArticleCategoryRcmd">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="ICON_ID" property="iconId" />
		<result column="POSITION" property="position" />
		<result column="SITE_ID" property="siteId" />
		<result column="SITE_AREA_CODE" property="siteAreaCode" />
		<result column="APP_ID" property="appId" />
		<result column="SORT" property="sort" />
		<result column="CREATE_USER_ID" property="createUserId" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_USER_ID" property="updateUserId" />
	</resultMap>

</mapper>
