<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcy.autogenerator.mapper.Skillcard.EmotionRegulationIssueMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lcy.autogenerator.entity.Skillcard.EmotionRegulationIssue">
		<id column="id" property="id" />
		<result column="issue" property="issue" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
    <select id="getIssue" resultType="java.lang.String">
        select issue from emotion_regulation_issue;
    </select>

</mapper>
