<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcy.autogenerator.mapper.EventTodoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lcy.autogenerator.entity.EventTodo">
		<id column="ID" property="id" />
		<result column="TYPE" property="type" />
		<result column="RESOURCE_ID" property="resourceId" />
		<result column="CREATE_TIME" property="createTime" />
	</resultMap>

</mapper>
