<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcy.autogenerator.mapper.SiteCategoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lcy.autogenerator.entity.SiteCategory">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="ICON_ID" property="iconId" />
		<result column="SORT" property="sort" />
		<result column="CREATE_OPERATOR_ID" property="createOperatorId" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_OPERATOR_ID" property="updateOperatorId" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="IS_DELETED" property="isDeleted" />
		<result column="DELETE_OPERATOR_ID" property="deleteOperatorId" />
		<result column="DELETE_TIME" property="deleteTime" />
		<result column="PARENT_ID" property="parentId" />
	</resultMap>

	<select id="getMaxSort" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT MAX(SORT) FROM site_category
	</select> 
</mapper>
