<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcy.autogenerator.mapper.SiteMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lcy.autogenerator.entity.Site">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="LOGO_ID" property="logoId" />
		<result column="NAME_EN" property="nameEn" />
		<result column="SITE_AREA_CODE" property="siteAreaCode" />
		<result column="AREA_NAME" property="areaName" />
		<result column="PARENT_ID" property="parentId" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_OPERATOR_ID" property="createOperatorId" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_OPERATOR_ID" property="updateOperatorId" />
		<result column="IS_DELETED" property="isDeleted" />
		<result column="DELETED_TIME" property="deletedTime" />
		<result column="DELETE_OPERATOR_ID" property="deleteOperatorId" />
		<result column="STATUS" property="status" />
		<result column="TITLE" property="title" />
		<result column="DESCRIPTION" property="description" />
		<result column="KEYWORD" property="keyword" />
		<result column="APP_ID" property="appId" />
		<result column="CATEGORY_ID" property="categoryId" />
	</resultMap>

	<select id="getMaxAppId" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT MAX(APP_ID) appId 
		FROM site s
		WHERE s.IS_DELETED = 0
	</select>
</mapper>
