<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcy.autogenerator.mapper.SurveyProblemOptionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lcy.autogenerator.entity.SurveyProblemOption">
		<result column="ID" property="id" />
		<result column="NO" property="no" />
		<result column="ANSWER" property="answer" />
		<result column="IS_TRUE_ANSWER" property="isTrueAnswer" />
		<result column="SORT" property="sort" />
		<result column="PROBLEM_ID" property="problemId" />
		<result column="RESOURCE_ID" property="resourceId" />
		<result column="PHOTO_ID" property="photoId" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_OPERATOR_ID" property="createOperatorId" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="UPDATE_OPERATOR_ID" property="updateOperatorId" />
		<result column="IS_DELETED" property="isDeleted" />
		<result column="DELETED_TIME" property="deletedTime" />
		<result column="DELETE_OPERATOR_ID" property="deleteOperatorId" />
	</resultMap>

</mapper>
