<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcy.autogenerator.mapper.UserDailyStatisticsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lcy.autogenerator.entity.UserDailyStatistics">
		<id column="ID" property="id" />
		<result column="USER_ID" property="userId" />
		<result column="TYPE" property="type" />
		<result column="COUNT" property="count" />
		<result column="COUNT2" property="count2" />
		<result column="VALUE" property="value" />
		<result column="DATE" property="date" />
		<result column="PERIOD" property="period" />
	</resultMap>

	<select id="getTotal" parameterType="java.util.Map" resultType="com.lcy.dto.business.UserDailyStatisticsDTO">
		SELECT
		SUM(COUNT) AS totalCount,
		SUM(COUNT2) AS totalCount2
		FROM
		user_daily_statistics s
		where s.USER_ID = #{userId} AND s.TYPE = #{type}
	</select>

	<select id="getMinCountData" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT s.*
		FROM
		user_daily_statistics s WHERE s.TYPE = #{type} AND s.USER_ID in
		<foreach item="item" index="index" collection="userIdList" open="(" separator="," close=")">
			'${item}'
		</foreach>
		AND #{count} > (SELECT count(1) FROM user_daily_statistics WHERE TYPE = #{type}
		AND USER_ID = s.USER_ID AND DATE &lt; s.DATE)
	</select>

</mapper>
